.settings
.classpath
.project
*.iml
*.ipr
*.iws
dist/
lib_managed/
project/boot/
project/plugins/project/
target/

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
.DS_Store
derby.log

db

.lib
sbt

*.epub
*.mobi


scalikejdbc-cookbook-ja.html
scalikejdbc-cookbook-ja.epub
scalikejdbc-cookbook-en.html
scalikejdbc-cookbook-en.epub
### https://raw.github.com/github/gitignore/23aad6abc4ed1aafb425f6e09334c4e35ad146ac/gitbook.gitignore

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf


